@{
    ViewData["Title"] = "About";
}


<!DOCTYPE HTML>

<html>
<head>
    <title>AboutUs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="~/css/aboutUs/css/main.css" rel="stylesheet" />
    <noscript>
        <link href="~/css/noscript.css" rel="stylesheet" />
    </noscript>
</head>
<body class="is-preload">

    <!-- Sidebar -->
    @*<section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Welcome</a></li>
                    <li><a href="#one">Who we are</a></li>
                    <li><a href="#two">What we do</a></li>
                    <li><a href="#three">Get in touch</a></li>
                </ul>
            </nav>
        </div>
    </section>*@

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h1>Expats</h1>
                <p>
                    Simply put, Expats.rs brings together the community of expatriates and local businesses.
                    Services and products on offer cater to the needs of expats primarily in the global communication Language of English
                </p>
                <ul class="actions">
                    <li><a href="#one" class="button scrolly">Learn more</a></li>
                </ul>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style2 spotlights">
            <section>
                <a href="#" class="image"><img src="../../images/index/crvenilog.png" alt="" style="width:100px; height:50px" /> </a>
                <div class="content">
                    <div class="inner">
                        <h2>Think of it</h2>
                        <p>Think of it as a community service board created by and for the expatriate community. </p>

                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="../../images/index/crvenilog.png" alt=""  style="width:100px; height:100px" /> </a>
                <div class="content">
                    <div class="inner">
                        <h2>Simple but powerful</h2>
                        <p> Expats.rs is a simple but powerful web based service that is optimized for mobile devises while functioning flawlessly on PC platforms.</p>
                    </div>
                </div>
            </section>
            <section>
                <a href="#" class="image"><img src="../../images/index/crvenilog.png" alt="" style="width:100px; height:100px" /> </a>
                <div class="content">
                    <div class="inner">
                        <h2>Friendly business</h2>
                        <p>Expats.rs is your link to the English friendly business community of Serbia.</p>

                    </div>
                </div>
            </section>
        </section>

        <!-- Two -->
        @*<section id="two" class="wrapper style3 fade-up">
            <div class="inner">
                <h2>What we do</h2>
                <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-code"></span>
                        <h3>Lorem ipsum amet</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-lock"></span>
                        <h3>Aliquam sed nullam</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Sed erat ullam corper</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-desktop"></span>
                        <h3>Veroeros quis lorem</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon solid major fa-link"></span>
                        <h3>Urna quis bibendum</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                    <section>
                        <span class="icon major fa-gem"></span>
                        <h3>Aliquam urna dapibus</h3>
                        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                    </section>
                </div>
            </div>
        </section>*@
        <hr />
        <footer style="margin:0px 0px 32px !important; font-family:Arial, Helvetica, sans-serif !important; font-size:16px !important;">
            <p>&copy; 2020 - Expats</p>
        </footer>
        <!-- Three -->
        <!-- Footer -->
        @*<footer id="footer" class="wrapper style1-alt">
            <div class="inner">
                <ul class="menu">

                </ul>
            </div>
        </footer>*@

        <!-- Scripts -->
        <script src="~/css/aboutUs/js/breakpoints.min.js"></script>
        <script src="~/css/aboutUs/js/browser.min.js"></script>
        <script src="~/css/aboutUs/js/jquery.min.js"></script>
        <script src="~/css/aboutUs/js/jquery.scrollex.min.js"></script>
        <script src="~/css/aboutUs/js/jquery.scrolly.min.js"></script>
        <script src="~/css/aboutUs/js/main.js"></script>
        <script src="~/css/aboutUs/js/util.js"></script>

</body>
</html>