@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>
    <title>Expats HomePage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/nikola/main.css" rel="stylesheet" />
    <noscript>
        <link href="~/css/nikola/noscript.css" rel="stylesheet" />
    </noscript>
</head>
<body class="landing is-preload" style="background-color:yellow;">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Banner -->
        <section id="banner" style="background-color:yellow;">
            <div class="inner" style="background-color:none;">
                <h2 style="color:#FD8470;">

                    <img src="~/images/categories/iconn.png" />
                    EXPATS
                </h2>
                @*<script>
                    window.setTimeout(function () {
                        window.location.href = 'https://localhost:44340/Categories/AllCategories';
                    }, 5000);
                </script>*@
            </div>
            
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/css/nikola/breakpoints.min.js"></script>
    <script src="~/css/nikola/browser.min.js"></script>
    <script src="~/css/nikola/jquery.min.js"></script>
    <script src="~/css/nikola/jquery.scrollex.min.js"></script>
    <script src="~/css/nikola/main.js"></script>
    <script src="~/css/nikola/util.js"></script>
    <script src="~/css/nikola/jquery.scrolly.min.js"></script>

</body>
</html>