
@{
    ViewData["Title"] = "NoCategories";
}

<h1>There is no details for this categories</h1>

<script>
    window.setTimeout(function () {
        window.location.href = 'https://localhost:44340/Categories/AllCategories';
    }, 3000);
</script>

